### <span style='color:HotPink'>Exploratory data analysis project on diabetes patient information</span>

In [1]:
# imports
import pandas as pd
import numpy as np
import os

In [3]:
# set path to dataset
input_folder = '/Users/alexandrabrown/Desktop/data_science/datasets/EDA_Diagnosing_Diabetes'
input_file   = 'diabetes.csv'
input_path   = os.path.join(input_folder, input_file)

df = pd.read_csv(input_path)
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [4]:
# are there any missing values?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [5]:
# compute summary stats to further explore if values are missing/abnormal
df.describe()
# even though there are not technically any missing values some values are 0, which would not make sense for a BMI
# or for some of the other columns

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000

In [6]:
# replace 0 values with NaN
cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI']

df[cols] = df[cols].replace(0, np.nan)

# now recheck missing entries
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               657 non-null    float64
 1   Glucose                   763 non-null    float64
 2   BloodPressure             733 non-null    float64
 3   SkinThickness             541 non-null    float64
 4   Insulin                   394 non-null    float64
 5   BMI                       757 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    object
dtypes: float64(7), int64(1), object(1)
memory usage: 54.1+ KB

In [7]:
# do the rows with missing data have something in common? view these rows
df[df.isnull().any(axis=1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,1
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,1
5,5.0,116.0,74.0,NaN,NaN,25.6,0.201,30,0
...,...,...,...,...,...,...,...,...,...
761,9.0,170.0,74.0,31.0,NaN,44.0,0.403,43,1
762,9.0,89.0,62.0,NaN,NaN,22.5,0.142,33,0
764,2.0,122.0,70.0,27.0,NaN,36.8,0.340,27,0
766,1.0,126.0,60.0,NaN,NaN,30.1,0.349,47,1
767,1.0,93.0,70.0,31.0,NaN,30.4,0.315,23,0

In [8]:
# look at data types of the cols
df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                      object
dtype: object

In [9]:
# why is the Outcome column object (meaning string type ?)
df['Outcome'].unique()
# looks like theres 'o' where there should be '0'

array(['1', '0', 'O'], dtype=object)

In [10]:
# replace the 'O' with '0'
df['Outcome'] = df['Outcome'].replace('O', 0)
# then set as type int
df['Outcome'] = df['Outcome'].astype('int')
# double check the data types again
df.dtypes

Pregnancies                 float64
Glucose                     float64
BloodPressure               float64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

#### <span style='color:HotPink'>EDA extension</span>

In [14]:
# check value counts
df['Outcome'].value_counts()

Outcome
0    500
1    268
Name: count, dtype: int64

In [15]:
# view rows with max values -- for example view the row where Insulin value is an outlier
max_insulin_row = df[df['Insulin'] == df['Insulin'].max()]
max_insulin_row

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
13,1.0,189.0,60.0,23.0,846.0,30.1,0.398,59,1

In [17]:
# view max glucose row
max_glucose_row = df[df['Glucose'] == df['Glucose'].max()]
max_glucose_row

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
661,1.0,199.0,76.0,43.0,NaN,42.9,1.394,22,1

In [18]:
# view max pregnanices row
max_preg_row = df[df['Pregnancies'] == df['Pregnancies'].max()]
max_preg_row

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
159,17.0,163.0,72.0,41.0,114.0,40.9,0.817,47,1

In [ ]:
# so far every max value row entry has an outcome of 1 -- meaning the person has diabetes...